.parent-container {
    margin-top: 30px;
}

.modal-body {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.elementButton {
    width: 85%;
    margin-left: 8%;
    margin-bottom: 5px;
}

.error {
    text-align: center;
    padding: 10px;
    color: red;
}

.pre {
    text-align: left;
}